*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


.hero{
    background-image: linear-gradient(to bottom,rgba(4, 1, 0, 0.8) 0%, rgba(0, 0, 0, 0.756) 80%),url(./images/hero-bckgd.jpg);
    background-size: cover;
    height: 80vh;
}


nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sign-in{
    padding: 4px 12px;
    border: none;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.hero a{
    text-decoration: none;
}

.hero-text{
    color: white;
    text-align: center;
    margin: 160px auto;
}

.hero-text h1{
    font-size: 3.2em;
    font-weight: 900;
}

.hero-text p{
    font-size: 1.2em;
}

.sign-in-form{
    margin: auto;
}

.search-bar{
    color: #eae7e7;
    width: 360px;
    background-color: inherit;
    border: 1px solid #eae7e7;
    padding: 14px 10px;
    border-radius: 5px;
}

.email-btn{
    padding: 10px 60px;
    color: white;
    font-size: 1.4em;
    background-color: red;
    border-radius: 8px;
    border: none;
}


.carousel-inner {
  display: block; 
}


.carousel-item{
    width: 100%;
}

.carousel-item img {
  width: 100%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: grey;
  border-radius: 10px;
  padding: 60px 6px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 120px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}



.card-wrapper{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}


.card{
    width: 20rem;
}


.svg-wrapper{
    text-align: right;
}




.accordion{
    width: 100%;
    border: none;
    border-radius: none;
    background-color: #000000;
    --bs-accordion-active-color: #2C1762;
    --bs-accordion-active-bg: #414141;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-radius: none;
 --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23ffffff'%20viewBox='0%200%20448%20512'%3E%3Cpath%20d='M256%2080c0-17.7-14.3-32-32-32s-32%2014.3-32%2032v144H48c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h144v144c0%2017.7%2014.3%2032%2032%2032s32-14.3%2032-32V288h144c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H256V80z'/%3E%3C/svg%3E");
--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23ffffff'%20viewBox='0%200%20448%20512'%3E%3Cpath%20d='M80%20224c-17.7%200-32%2014.3-32%2032s14.3%2032%2032%2032h288c17.7%200%2032-14.3%2032-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
   
}


.accordion-item{
    background-color: #2D2D2D;
    border: 1px thin #6f00ff3f;
    box-shadow: 0 0 10px rgba(31, 31, 155, 0.1);
    margin-bottom: 1em;
    padding: 10px;
    color: #616161;
    border-radius: none;
    border: none;
    transition: background-color 0.1s;
}

.accordion-item:hover{
    background-color: #414141;
}


.accordion-item:hover .accordion-button{
    background-color: #414141;
}



.accordion-button{
    font-size: 0.6em;
    font-weight: 600;
    color: #fff;
    background-color: #2D2D2D;
    transition: background-color 0.1s;
}







@media (min-width: 319px) and (max-width: 480px) {
    .hero{
        width: 100%;
        border: 2px solid #2C1762;
    }
    nav {
      width: 90%;
    }
    .logo{
        width: 120px;
    }
    .hero-text h1 {
        font-size: 1.8em;
    }
    .hero-text p{
        font-size: 0.8em;
    }
    .search-bar{
        width: 100%;
        margin-bottom: 20px;
    }
    .email-btn{
        font-size: 1em;
        padding: 10px 40px;
        border-radius: 4px;
    }
    .card-wrapper{
        flex-direction: column;
        justify-content: ;
        padding: none;
    
    }
    .card{
        border: 2px solid blue;
        width: 100%;
    }
  }